# Python bytecode:
*.py[co]

# Packaging files:
*.egg*

# Editor temp files:
*.swp
*~

# Sphinx docs:
build

# SQLite3 database files:
*.db

# Logs:
*.log

# Others:
.idea
.vagrant
wheel
salt/roots/salt/aert_bookkeeping/wheel-requirements.tar.gz
.tags
