# Python bytecode:
*.py[co]

# Packaging files:
*.egg*

# Editor temp files:
*.swp
*~

# Build dirs
/docs/build
/build/*

# SQLite3 database files:
*.db

# Logs:
*.log

# Others:
.coverage
.idea
.vagrant
.tags

# This project
/public/assets/*
