{% load i18n %}
{% load aert_base_tags %}
{% load application_tags %}
{% load aert_bookkeeping_tags %}
{% load staticfiles %}
{% load compress %}

<!DOCTYPE html>
<html lang="{{ current_language }}">
    <head>
        <meta charset="utf-8">
        <title>{{ html_title }}</title>
        <meta name="description" content="">
        <meta name="keywords" content="bookkeeping,accounting">

        <!-- Le styles -->
        {% compress css %}
        <link href="{% static 'stylesheets/jquery/jquery-ui-1.9.2.css' %}" rel="stylesheet">
        <link href="{% static 'stylesheets/application.css' %}" rel="stylesheet">
        <link href="{% aert_theme_css 'application.css' %}" rel="stylesheet">
        <link href="{% aert_theme_css 'buttons.css' %}" rel="stylesheet">
        <link href="{% aert_theme_css 'aristo.css' %}" rel="stylesheet">

        <!-- This file store project specific CSS -->
        <link type="text/less" href="{% static 'aert_bookkeeping/css/project.less' %}" rel="stylesheet">

        {% endcompress %}

        <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
        <script farmerp="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        <!-- Use this to quickly test CSS changes in a template,
        then move to project.css -->
        {% block extra_css %}{% endblock extra_css %}
    </head>

    <body class="">
        <div id="wrapper">
            <div id="wrapper2">
                <div id="wrapper3">
                    <div id="top-menu">
                        <div id="account">
                            {% render_menu "account_menu" %}
                        </div>
                    {% if user.is_authenticated %}
                        <div id="loggedas"> {% trans "label_logged_as" %} {% link_to_user user "username" %}</div>
                    {% endif %}
                    {% if user.is_authenticated or not is_login_required %}
                        {% render_menu "top_menu" %}
                    {% endif %}
                    </div>

                    <div id="header">
                        {% if user.is_authenticated or not is_login_required %}
                        <div id="quick-search">
                            <form action="search.index id='{{ project }}'"  method="get">
                                <label for='q'>
                                    <a href="search.index id='{{ project }}'">{% trans "label_search" %}</a> :
                                </label>
                                <input type="text" id="q" size="20" class='small' value="{{ question }}"></input>
                            </form>
                            {% render_project_jump_box %}
                        </div>
                        {% endif %}

                        <h1>{{ page_header_title }}</h1>

                        <div id="main-menu">
                            {% render_main_menu project %}
                        </div>
                    </div>

                    <div id="main" class="<%= sidebar_content? ? '' : 'nosidebar' %>">
                        <div id="sidebar">
                            {% block sidebar %} {% endblock sidebar %}
                        </div>

                        <div id="content">
                            {% render_flash_messages %}
                            {% block content %}
                            <p>Use this document as a way to quick start any new project.</p>
                            {% endblock content %}
                            <div style="clear:both;"></div>
                        </div>
                    </div>
                </div>

                <div id="ajax-indicator" style="display:none;"><span><%= l(:label_loading) %></span></div>
                <div id="ajax-modal" style="display:none;"></div>

                <div id="footer">
                    <div class="bgl"><div class="bgr">
                            Powered by {% link_to_appinfo %} &copy; 2013 Abdourakhmane Ripault
                    </div></div>
                </div>
            </div>
        </div>

        <!-- Le javascript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        {% compress js %}
        <script src="{% static 'javascripts/jquery-1.8.3-ui-1.9.2-ujs-2.0.3.js' %}"></script>

        <!-- place project specific Javascript in this file -->
        <script type="text/coffeescript" src="{% static 'aert_bookkeeping/js/project.coffee' %}"></script>

        {% block extra_js %}{% endblock extra_js %}
        {% endcompress %}
    </body>
</html>
