[uwsgi]
home = {{ django_virtualenv }}
uid = {{ uwsgi_user }}
gid = {{ uwsgi_group }}
chdir = {{ django_path }}/aert_bookkeeping
socket = 127.0.0.1:3000
wsgi-file = wsgi.py
processes = {{ uwsgi_processes }}
threads = 2
env = DJANGO_SETTINGS_MODULE={{ django_settings }}
env = DB_NAME={{ postgresql_db }}
env = DB_USER={{ postgresql_user }}
env = DB_PASSWORD={{ postgresql_password }}
env = DB_HOST=localhost
env = DB_PORT=5432
env = SECRET_KEY=@ouzu8baqedtljhdjf4j5@=l-+%ws2c4d81@6!f5x%3&p*2q-e
logto = /srv/log/uwsgi/%n.log
harakiri = 20
vacuum = True
{% if uwsgi_reload %}
py-auto-reload = 3
{% endif %}
